
html {
  background-color: #2e291e;
  text-decoration-color: white;
}

a {
  color: white;
  text-decoration: none;
  vertical-align: middle;
  padding: 5px;
}
a:hover {
  color: #2e291e;
  background-color: white;
}

.center {
  text-align: center
}
.cloud {
  width: 70%;
  display: inline-block;
  vertical-align: middle;
  line-height: 34px;
  text-align: justify;
  text-justify: inter-word;
  padding: 50px;
}

